.account-portal-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.account-portal-main .account-info{
  background-color:white;
  height: fit-content;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 7px;
}

.account-portal-main .account-info{
  padding: 0.5rem 1rem;
}

.account-info .account-info-flexbox{
  display: flex;
}

.account-info div p{
  font-size: 0.75rem;
  padding-left: 0.75rem;
  
}

.account-info div{
  text-align: start;
}
.account-portal-main .buttons{
  margin-top:0.5rem;
}

.account-portal-main .buttons button{
  border: 1px solid lightgrey;
  padding: 0.25rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  background-color: #EDEFF1;
}

.account-portal-main .buttons button:first-child{
  margin-right: 0.5rem;
}