.main {
  margin-top: 5rem;
}

.posts-main .create-post {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width: 70%;
  align-items: center;
  margin: auto;
}

.posts-main .create-post-input input {
  width: 60%;
  height: 2rem;
}

.posts-main .posts-query {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width: 70%;
  margin: auto;
}

.posts-query {
  position: relative;
}

.query {
  position: fixed;
  height: 100%;
  width: 130px;
}

.posts-div {
  width: 60%;
}
.posts-div{
  width: 50rem;
}

.posts-page .postpreview {
  display:grid;
  grid-template-columns: 1fr 16fr;
  background-color: white;
  padding: 1rem;
  margin: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.posts-page  .postpreview a {
  color: black;
  text-decoration: none;
}

.posts-page .postpreview p {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.posts-page .voting-interface button{
  display: block;
  background-color: white;
  border: none;
  font-size:1.5rem
}

.posts-page  .vote-number{
  margin-left:0.75rem;
  font-weight: bold;
}

