.posts-page .posts-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.posts-page .posts-div {
}

.posts-page .postpreview,
.posts-page .create-post {
  display: grid;
  grid-template-columns: 1fr 16fr;
  background-color: white;
  padding: 1rem;
  margin: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.posts-page .posts-queries {
  background-color: white;
  margin: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.posts-page .posts-queries div {
  flex-grow: 1;
}

.posts-page .posts-queries button {
  border: none;
  background-color: white;
  padding: 1rem;
  width: 100%;
}

.posts-page .post-link {
  color: black;
  text-decoration: none;
}

.posts-page .postpreview p {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.posts-page .voting-interface button {
  display: block;
  background-color: white;
  border: none;
  font-size: 1.5rem;
}

.posts-page .vote-number {
  margin-left: 0.75rem;
  font-weight: bold;
}

.posts-page .create-post div {
  align-items: center;
}

.posts-page .create-post {
  align-items: center;
}

.posts-page .create-post input {
  width: 70%;
  height: 2.6rem;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-color: #f5f4f3;
}

.posts-page .post-metadata {
  font-size: 0.75rem;
  color: grey;
}

.posts-page button {
  font-size: 1.2rem;
}

.posts-page .posts-queries button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.posts-page .active-button {
  background-color: black !important;
  color: white !important;
}

.dots-icon {
  font-size: 2rem;
}

.sort-dropdownOptions {
  position: absolute;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.majors-options{
  border-radius: 6px;
  border: 1px solid lightgrey;
  width: 50%;
  padding: 0.5rem 1.3rem;
  margin-top: 1.3rem;   
  height: 25rem;
}

.majors-options ul{
  list-style: none;
  padding:0;
  margin-top: 2rem;
}

.majors-options a{
  text-decoration: none;
  color: black;
}

.majors-button-div{
  text-align: center;
}

.majors-button{
  background-color: black;
  color:#CFC7D2;
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  cursor:pointer;
  margin-top:1rem;
}

.majors-list{
  line-height: 37px;
  margin-left:1rem;
}

.majors-options-container{
  margin-top: 4rem;
}

.majors-options-container img{
  position: absolute;
  width: 0.1rem;

}