.posts-page .create-post input {
  width: 50rem;
  height: 2.6rem;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-color: #f5f4f3;
}

.posts-page .posts-main .posts-query {
  width: 70%;
  margin: auto;
}

/* .posts-page .posts-query {
  position: relative;
} */

.posts-page .posts-div {
  width: 60%;
}
.posts-page .posts-div {
  width: 70rem;
}

.posts-page .postpreview,
.posts-page .create-post {
  display: grid;
  grid-template-columns: 1fr 16fr;
  background-color: white;
  padding: 1rem;
  margin: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.posts-page .posts-queries {
  background-color: white;
  padding: 1rem;
  margin: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
}

.posts-page .posts-queries div {
  flex-grow: 1;
}

.posts-page .posts-queries button {
  border: none;
  background-color: white;
}

.posts-page .post-link {
  color: black;
  text-decoration: none;
}

.posts-page .postpreview p {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.posts-page .voting-interface button {
  display: block;
  background-color: white;
  border: none;
  font-size: 1.5rem;
}

.posts-page .vote-number {
  margin-left: 0.75rem;
  font-weight: bold;
}

.posts-page .create-post div {
  display: flex;
  align-items: center;
}

.posts-page .post-metadata {
  font-size: 0.75rem;
  color: grey;
}
