.header-component header {
  display: flex;
  font-family: "verdana";
  background-color: #254d32;
  align-items: center;
}

.searchBar input {
  width: 70%;
  height: 2rem;
  font-family: "verdana";
  font-size: 1.2rem;
  border-color: #d3d3d3;
  margin: 1.5rem 0;
  border-radius: 15px;
  border: 0;
}

.searchBar {
  justify-content: center;
}

.logo {
  padding-right: 2rem;
}

.searchBar {
  flex-grow: 1;
}

.header-about,
.header-account,
.sign-out-div {
  padding: 0 1rem;
}

.header-guidelines {
  padding: 0 3rem;
}

.header-account {
  min-width: 150px;
}

.sign-out-div button{
  min-width: 100px;
  background: none!important;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "verdana";
}

.header-component a {
  color: white;
  text-decoration: none;
}

