.header-component header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 8fr 1fr 1fr;
    font-family: Consolas;
    background-color: #D9D9D9;
}

.header-component .searchBar input{
    width: 70%;
    height: 2rem;
    font-family: Consolas;
    font-size: 1.2rem;
    border-color:#D3D3D3 ;
    margin: 1.5rem 0;
    border-radius: 15px;
    border: 0;
}

.searchBar{
    justify-content: center;
}

